body {   
background:rgb(207, 170, 255);
font-family: 'Poppins', sans-serif;
}

.header_div {
  background:rgb(248, 255, 196);
  font-family: 'Roboto', sans-serif;
  color:rgb(161, 90, 255);
  text-align:center;
  
  }

  .header_div h1{
    font-family: 'Belanosima', sans-serif;
  }
  
.header_div p{
   color:rgb(161, 90, 255);
   font-family: 'Poppins', sans-serif;
}

.main_div button{
    background-color: rgb(248, 255, 196);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 70px;
    height: 40px;
}

.main_div{
  background:rgb(207, 170, 255);

}

.copy_right_footer{
  position: fixed;
  color:rgb(166, 50, 255);
  text-shadow: 5px 5px 5px rgb(184, 110, 245);
  bottom:0;
  width:100%;
  font-size:18px;
  text-align:center;
  line-height:2;
  background-color: rgb(248, 255, 196);
}

